.menu {
  width: 95%;
  max-width: 350px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: -350px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  transition: all 0.5s;

  .IconContainer {
    width: 85%;
    border-bottom: 1px solid #25894c;
    display: flex;
    justify-content: flex-end;

    .closeIcon {
      padding: 20px 0;
    }
  }

  &.active {
    left: 0;
  }

  ul {
    width: 85%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: black;
    display: flex;
    flex-direction: column;

    li {
      width: 100%;
      height: auto;
      padding: 15px 0px;
      border-bottom: 1px solid #25894c;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 17px;
        font-family: "Helvetica";
        letter-spacing: 2px;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
      }

      // &:hover {
      //   font-weight: 500;
      // }
    }
  }

  .logIn {
    width: 85%;
    font-size: 14px;
    font-family: "Helvetica";
    padding: 20px;
    display: flex;
    align-items: flex-start;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .socials {
    border: 1px solid #25894c;
    border-right: none;
    display: flex;
    width: 85%;
    justify-content: center;

    .icon {
      height: 50px;
      width: 100%;
      border-right: 1px solid #25894c;
      text-decoration: none;
      color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
