.toolbar {
  width: 100%;
  height: auto;
  border-bottom: rgba(0, 0, 0, 0.04) 1px solid;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    display: none;
  }

  .page-width {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;

    .iconContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .icon {
        padding: 5px;
        display: flex;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
