.apparel {
  padding: 50px 0 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    padding: 40px 0;
  }
  .page-width {
    width: 100%;
    height: auto;
    max-width: 1420px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 768px) {
      padding: 0 20px;
    }
    .section-header {
      width: 100%;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 400;
      font-family: "SF Mono", Menlo, Consolas;
      letter-spacing: 3px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 768px) {
        margin-top: 0;
      }
    }

    .content {
      width: 100%;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 80vw);
        gap: 5px;
      }

      .container {
        width: 100%;
        height: auto;
        margin: 0 0 30px;
        padding: 0 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 768px) {
          padding: 0;
          margin: 0;
        }

        .imgContainer {
          position: relative;
          width: 100%;
          cursor: pointer;

          img {
            max-height: 460px;
            width: 100%;
            height: auto;
            object-fit: contain;
          }

          .skullFront {
            position: relative;
          }

          .skullBack {
            position: absolute;
            left: 0;
            opacity: 0;
            transition: opacity 100ms linear;

            &:hover {
              opacity: 1;
              transition: opacity 150ms linear;
            }
          }

          .mnHoodieFront {
            position: relative;
          }

          .mnHoodieBack {
            position: absolute;
            left: 0;
            opacity: 0;
            transition: opacity 100ms linear;

            &:hover {
              opacity: 1;
              transition: opacity 100ms linear;
            }
          }
        }

        .description {
          margin: 0;
          text-transform: uppercase;
          font-size: 13px;
          font-family: "Helvetica";
          letter-spacing: 3px;
          text-align: center;

          @media only screen and (max-width: 768px) {
            font-size: 12px;
          }
        }

        .price {
          margin: 7px 0 0;
          font-size: 13px;
          font-family: "Helvetica";
          color: #25894c;
        }
      }
    }
    .view {
      color: white;
      background-color: black;
      padding: 11px 20px;
      font-family: "Helvetica";
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3px;
      cursor: pointer;

      @media only screen and (max-width: 768px) {
        font-size: 11px;
        padding: 9px 17px;
        margin-top: 30px;
      }
    }
  }
}
